footer {
    background-color: $white;

    // Bottom part
    .bottom-row {
        p {
            font-size: 0.8rem;

            a {
                font-size: 0.8rem;
                color: $primary;
            }
        }
    }
}