.navbar {
    padding: 1rem;
    width: 100%;
    transition: .3s;
    background-color: $white;

    @media screen and (max-width: $md) {
        padding: 0.5rem;
    }

    // Navbar brand
    .navbar-brand {
        a {
            img {
                height: 2rem;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

    // Menu items
    .navbar-nav{
        align-items: center;

        .nav-item {
            margin: 0;
            transition: .3s;
            position: relative;

            @media only screen and (max-width: $md) {
                display: flex;
                justify-content: center;
            }

            .nav-link {
                color: $black;
                padding-left: 1rem;
                padding-right: 1rem;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    color: $primary;
                }
            }

            // Has droprown
            &.menu-item-has-children {
                margin-right: 10px;

                &::after {
                    content: "";
                    display: block;
                    background-color: $black;
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    clip-path: polygon(50% 90%, 0 10%, 100% 10%);
                    transition: .2s;
                }

                ul {
                    border-radius: 0;

                    li.nav-item {
                        margin: 5px 0;

                        a {
                            &.active, &:focus {
                                background-color: $primary;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    // Offcanvas Toggler
    .offcanvas-toggler {
        position: relative;
        background: transparent;
        border: 0;

        span {
            display: block;
            background-color: $primary;
            width: 40px;
            height: 5px;
            margin: 7px 0;
            transform-origin: center center;
            transition: .3s;

            @media screen and (max-width: $sm) {
                height: 5px;
                margin: 5px 0;
                width: 35px;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    opacity: 0;
                    transform: translate(0, -15px);
                    pointer-events: none;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(8px, -8px);
                }
            }
        }
    }

    .menu-item-has-children:hover>.dropdown-menu {
        display: block;
    }
}

// Offcanvas
.offcanvas {
    background-color: rgb(from $black r g b / .5);

    .navbar-nav {
        .nav-item {
            width: 100%;
            display: block;
            position: relative;

            .nav-link {
                font-weight: 600;
                color: white;
                font-size: 1rem;
                margin: 0.2rem 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                transition: .3s;
            }

            &:last-child {
                .nav-link {
                    border-bottom: none;
                }
            }
        }
    }

    .menu-item-has-children:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        display: none;
        width: auto;
        margin: 0;
        padding-bottom: 0;
        background-color: white;

        .dropdown-item {
            margin: 0;
            padding: 0.3rem 2rem;
            color: black;
            background: transparent;

            .active {
                color: $secondary
            }
        }

        .dropdown-item:hover {
            color: $secondary;
        }
    }
}