// Breakpoints
$xxl: "1399.98px";
$xl: "1199.98px";
$lg: "991.98px";
$md: "767.98px";
$sm: "575.98px";
$xs: "399.98px"; // Custom value, NOT used in Bootstrap

// Color palette
:root {
    --primary: #62c324;
    --secondary: #23241f;
    --white: #ffffff;
    --gray: #daddd6;
    --dark: #3c3c3c;
    --black: #000000;
}

$primary: var(--primary);
$secondary: var(--secondary);
$white: var(--white);
$gray: var(--gray);
$dark: var(--dark);
$black: var(--black);